html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  color: #ffffff;
  background: #353535;
  font-family: "PT Sans Narrow", sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  color: #ffffff;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.btn {
  display: block;
  padding: 10px 20px;
  border: 1px solid #e5ddd5;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
.page-header {
  display: flex;
  flex-direction: column;
  background: #000000 url(../img/body-bg.jpg) no-repeat 0 -70px;
  background-size: cover;
}
.page-header__logo {
  padding: 20px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .page-header {
    flex-direction: column-reverse;
  }
  .page-header__logo {
    min-height: 400px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    min-height: 650px;
  }
}
.main-nav {
  position: relative;
  min-height: 51px;
  background: #816550;
}
.main-nav__wrapper {
  background: #816550;
}
.main-nav__items {
  padding: 0;
  margin: 0;
  font-weight: 700;
  list-style: none;
}
.main-nav__item a {
  display: block;
  padding: 12px 0;
  border-top: 1px solid #9a7960;
  border-bottom: 1px solid #685140;
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
  text-transform: uppercase;
}
.main-nav__item a[href]:hover {
  background: #685140;
}
.main-nav__user-items {
  padding: 0;
  margin: 0;
  list-style: none;
}
.main-nav__login {
  position: relative;
  display: block;
  padding: 12px 21px;
  padding-left: 49px;
  border-top: 1px solid #9a7960;
  border-bottom: 1px solid #685140;
  font-size: 18px;
  line-height: 1.4;
  color: #ffffff;
}
.main-nav__login[href]:hover {
  background: #685140;
}
.main-nav__login::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: url(../img/login.png) no-repeat;
}
@media (max-width: 767px) {
  .main-nav__item a {
    padding-left: 21px;
  }
  .main-nav__toggle {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 50px;
    font-size: 0;
    border: none;
    cursor: pointer;
    background: #685140;
  }
  .main-nav__toggle:hover {
    background: #584537;
  }
  .main-nav__toggle:active::before,
  .main-nav__toggle:active::after {
    opacity: 0.5;
  }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 36px;
    height: 2px;
    background: #fff;
    box-shadow: 0 8px 0 0 #fff,
                    0 16px 0 0 #fff;
  }
  .main-nav--closed .main-nav__item,
  .main-nav--closed .main-nav__user-items {
    display: none;
  }
  .main-nav--closed .main-nav--active {
    display: block;
    text-align: center;
  }
  .main-nav--closed .main-nav__wrapper {
    margin-left: 0;
  }
  .main-nav--opened .main-nav__toggle {
    top: 0;
    left: 0;
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    width: 36px;
    height: 2px;
    background: #fff;
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
  .main-nav--opened .main-nav__wrapper {
    margin-left: 70px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 20;
  }
}
@media (min-width: 768px) {
  .main-nav {
    background: #000000;
  }
  .main-nav__wrapper {
    width: 85%;
    margin: 0 auto;
    display: flex;
    background: #000000;
  }
  .main-nav__items {
    display: flex;
    flex-grow: 1;
    font-weight: 400;
  }
  .main-nav__item {
    flex-grow: 1;
    text-align: center;
  }
  .main-nav__item a {
    padding: 12px 15px;
    border: none;
  }
  .main-nav__item a[href]:hover {
    color: #000000;
    background: #FFFFFF;
  }
  .main-nav__user-items a {
    border: none;
  }
  .main-nav__user-items a[href]:hover {
    color: #000000;
    background: #FFFFFF;
  }
  .main-nav__user-items a[href]:hover::before {
    background: url(../img/login-black.png) no-repeat;
  }
  .main-nav__login {
    min-height: 49px;
    font-size: 0;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav--active {
    position: relative;
  }
  .main-nav--active::before {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0px;
    left: 0px;
    height: 3px;
    background: #806552;
  }
}
@media (min-width: 1200px) {
  .main-nav__item a {
    padding: 12px 21px;
  }
  .main-nav__login {
    text-transform: uppercase;
    font-size: 18px;
  }
}
.stats__header {
  padding: 20px;
  text-align: center;
  color: #000;
  background: #FFFFFF;
}
.stats__slogan {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
.stats__intro {
  font-size: 20px;
}
.stats__items {
  border-collapse: collapse;
  width: 100%;
}
.stats__items tr {
  background: #353535;
}
.stats__value {
  width: 55%;
  padding: 20px;
  padding-right: 0;
  font-size: 40px;
  font-weight: 700;
}
.stats__field {
  width: 45%;
  padding: 18px;
  padding-left: 0;
  text-align: right;
  font-size: 18px;
}
.stats__legend {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #8c8c8c;
  background: #353535;
}
@media (max-width: 767px) {
  .stats__legend--top {
    display: none;
  }
  .stats__items tr:nth-child(2n) {
    background: #5b5b5b;
  }
}
@media (min-width: 768px) {
  .stats__wrapper {
    width: 85%;
    margin: 0 auto;
  }
  .stats__header {
    position: relative;
    min-height: 187px;
    margin-top: -187px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
  }
  .stats__header::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 40px;
    border: 15px solid transparent;
    border-top: 15px solid #FFFFFF;
    border-right: 15px solid #FFFFFF;
  }
  .stats__slogan {
    margin-bottom: 15px;
    width: 50%;
    text-align: left;
    text-transform: none;
    font-size: 40px;
  }
  .stats__intro {
    width: 50%;
    margin: 0;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 30px;
    font-size: 20px;
    text-align: left;
  }
  .stats__legend--top {
    padding: 0;
    width: 50%;
    text-align: left;
    color: #b3b3b3;
    background: #FFFFFF;
  }
  .stats__items tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .stats__items tr {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 50%;
  }
  .stats__items tr:nth-child(4n+1),
  .stats__items tr:nth-child(4n) {
    background: #424242;
  }
  .stats__items tr:nth-child(4n+2) {
    background: #4f4f4f;
  }
  .stats__items tr:last-child {
    display: none;
  }
  .stats__items br {
    display: none;
  }
  .stats__value {
    width: 100%;
    padding: 0;
    font-size: 72px;
  }
  .stats__field {
    width: 100%;
    padding: 0;
    font-size: 20px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .stats__wrapper {
    margin-top: -165px;
    display: flex;
  }
  .stats__header {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 33.3%;
  }
  .stats__items {
    width: 66.6%;
  }
  .stats__slogan {
    width: 100%;
    margin-bottom: 30px;
  }
  .stats__intro {
    width: 100%;
    padding: 0;
  }
  .stats__legend--top {
    width: 100%;
    margin-top: auto;
  }
}
.advantages__wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 40px 0;
}
.advantages__items {
  padding: 0;
  margin: 0;
  list-style: none;
}
.advantages__img {
  width: 95px;
  height: 95px;
}
.advantages__item {
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  padding: 0 40px;
}
.advantages__title {
  margin-bottom: 0;
  font-size: 32px;
  text-transform: uppercase;
}
.advantages__toggles {
  display: flex;
  justify-content: center;
}
.advantages input {
  display: none;
}
@media (max-width: 767px) {
  .advantages__toggle {
    width: 25px;
    height: 25px;
    margin: 0 7%;
    border: 1px solid #ffffff;
    transform: rotate(45deg);
    cursor: pointer;
  }
  .advantages__toggle:hover {
    border-color: #826550;
  }
  .advantages__item {
    display: none;
  }
  input[type="radio"]:nth-of-type(1):checked ~ .advantages__toggles .advantages__toggle:nth-of-type(1),
  input[type="radio"]:nth-of-type(2):checked ~ .advantages__toggles .advantages__toggle:nth-of-type(2),
  input[type="radio"]:nth-of-type(3):checked ~ .advantages__toggles .advantages__toggle:nth-of-type(3) {
    background: #ffffff;
  }
  input[type="radio"]:nth-of-type(1):checked ~ .advantages__items .advantages__item:nth-of-type(1),
  input[type="radio"]:nth-of-type(2):checked ~ .advantages__items .advantages__item:nth-of-type(2),
  input[type="radio"]:nth-of-type(3):checked ~ .advantages__items .advantages__item:nth-of-type(3) {
    display: block;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding: 60px 0;
  }
  .advantages__img {
    margin-right: 30px;
  }
  .advantages__item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #4A4A4A;
    text-align: left;
  }
  .advantages__item:last-child {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .advantages__items {
    display: flex;
  }
  .advantages__item {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    text-align: center;
    width: 33.3%;
    border-bottom: none;
    border-right: 1px solid #4A4A4A;
  }
  .advantages__item:last-child {
    border-right: none;
  }
  .advantages__img {
    margin-right: 0;
  }
}
.news {
  color: #000000;
  background: #f9f5f2;
}
.news__wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 40px 0;
  border-bottom: 1px solid #e5ddd5;
}
.news__title {
  margin-top: 0;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.news__items {
  padding: 0;
  list-style: none;
}
.news__item {
  display: flex;
  position: relative;
  min-height: 70px;
  padding: 15px 0;
  margin-left: 70px;
}
.news__item:first-child {
  border-bottom: 1px solid #E4DDD7;
}
.news__item:last-child {
  display: none;
}
.news__item p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
.news__date {
  position: absolute;
  display: block;
  left: -70px;
  top: 45px;
  margin-top: -25px;
  padding-top: 4px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1;
  color: #FFFFFF;
  background: #000000;
}
.news__date::after {
  content: "";
  bottom: -35px;
  left: 0;
  width: 0;
  position: absolute;
  border: 25px solid transparent;
  border-top: 10px solid #000000;
}
.news__date b {
  font-size: 30px;
  line-height: 1;
}
@media (min-width: 768px) {
  .news__wrapper {
    padding: 60px 0;
    position: relative;
  }
  .news__title {
    text-align: left;
    font-size: 40px;
  }
  .news__items {
    display: flex;
  }
  .news__item {
    padding-right: 30px;
  }
  .news__item:first-child {
    border-bottom: none;
  }
  .news__to-all {
    position: absolute;
    top: 60px;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .news__title {
    margin-left: 70px;
  }
  .news__item {
    padding-right: 30px;
  }
  .news__item:last-child {
    display: block;
  }
}
.reviews {
  background: #f9f5f2;
  color: #000000;
}
.reviews__wrapper {
  width: 85%;
  margin: 0 auto;
  padding: 40px 0;
}
.reviews__write {
  display: none;
}
.reviews__item {
  display: flex;
  position: relative;
  min-height: 70px;
  padding: 15px 0;
  margin-left: 70px;
}
.reviews__autor-foto {
  position: absolute;
  left: -70px;
  top: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #eae3dc;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews__item:nth-child(1) .reviews__autor-foto {
  background-image: url(../img/travis.jpg);
}
.reviews__item:nth-child(2) .reviews__autor-foto {
  background-image: url(../img/travis.jpg);
}
.reviews__item:nth-child(3) .reviews__autor-foto {
  background-image: url(../img/travis.jpg);
}
.reviews__autor-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.reviews__quote {
  font-size: 18px;
}
.reviews__title {
  margin-top: 0;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
.reviews__toggles {
  display: flex;
  justify-content: center;
}
.reviews input {
  display: none;
}
.reviews__toggle {
  width: 25px;
  height: 25px;
  margin: 0 7%;
  border: 1px solid #000000;
  transform: rotate(45deg);
  cursor: pointer;
}
.reviews__toggle:hover {
  border-color: #826550;
}
.reviews__item {
  display: none;
}
input[type="radio"]:nth-of-type(1):checked ~ .reviews__toggles .reviews__toggle:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .reviews__toggles .reviews__toggle:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .reviews__toggles .reviews__toggle:nth-of-type(3) {
  background: #353535;
}
input[type="radio"]:nth-of-type(1):checked ~ .reviews__items .reviews__item:nth-of-type(1),
input[type="radio"]:nth-of-type(2):checked ~ .reviews__items .reviews__item:nth-of-type(2),
input[type="radio"]:nth-of-type(3):checked ~ .reviews__items .reviews__item:nth-of-type(3) {
  display: block;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    position: relative;
    padding: 60px 0;
  }
  .reviews__title {
    text-align: left;
    font-size: 40px;
  }
  .reviews__write {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
  }
  .reviews__items {
    margin-left: 0;
    padding-left: 70px;
    border: 1px solid #e5ddd5;
  }
  .reviews__autor-foto {
    left: -110px;
    width: 80px;
    height: 80px;
    border-color: transparent;
    border-radius: 50%;
  }
  .reviews__toggles {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 40px;
    margin-top: -12px;
    background-color: #f9f5f2;
  }
  .reviews__toggle {
    margin: 0 30px;
  }
}
@media (min-width: 1200px) {
  .reviews__toggles {
    margin-top: 30px;
    width: 100%;
  }
  .reviews__items {
    min-height: 160px;
  }
  .reviews__item {
    padding-left: 150px;
  }
  .reviews__autor-foto {
    left: -142px;
    top: -17px;
    width: 250px;
    height: 160px;
    border: none;
    border-radius: 0;
    border-top-right-radius: 40px 50%;
    border-bottom-right-radius: 40px 50%;
    border-color: transparent;
  }
}
/*# sourceMappingURL=style.css.map */