// Разрешение экрана
@mobile-width: ~"(max-width: 767px)";
@tabled-width: ~"(min-width: 768px)";
@landscape-width: ~"(orientation: landscape)";
@desktop-width: ~"(min-width: 1200px)";


// Цветовая палитра
@base-color-bg: #353535;
@base-color-font: #ffffff;
@content-color-bg: #F9F5F2;
@base-color-nav: #816550;