// Разрешение экрана
@mobile-width: ~"(max-width: 767px)";
@tabled-width: ~"(min-width: 768px)";
@landscape-width: ~"(orientation: landscape)";
@desktop-width: ~"(min-width: 1200px)";
@retina: ~"(min-resolution:144dpi), (min-resolution: 1.5dppx)";


// Цветовая палитра
@base-color-bg: #353535;
@content-color-bg: #F9F5F2;
@base-color-font: #ffffff;
@base-color-nav: #816550;
@base-color-border: #e5ddd5;