.main-nav {
  background: #816550;
  &__wrapper {
  }

  &__items {
    list-style: none;
  }

  &__item {
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &__user-items {
    list-style: none;
  }

  &__user-item {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

@media (min-width: 768px) {
  .main-nav {
    background: #000000;
  }
}