.main-nav {
  background: #816550;
  &__wrapper {
  }

  &__items {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    a {
    }
  }

  &__user-items {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__user-item {
    a {
    }
  }
}

@media (min-width: 768px) {
  .main-nav {
    background: #000000;
  }
}