.page-header {
  display: flex;
  flex-direction: column;
  background: #000000 url(../img/body-bg.jpg) no-repeat 0 -70px;
  background-size: cover;

  &__logo {    
    padding: 20px 0;
    text-align: center;
  }
}


@media @tabled-width {
  .page-header {
    flex-direction: column-reverse;

    &__logo {
      min-height: 400px;
    }
  }
}


@media @desktop-width {
  .page-header {

    &__logo {
      min-height: 650px;
    }
  }
}