.page-header {
  display: flex;
  flex-direction: column;

  .page-header__logo {    
    padding: 20px 0;
    text-align: center;
  }
}


@media @tabled-width {
  .page-header {
    flex-direction: column-reverse;
  }


  .page-header__logo {
    min-height: 400px;
  }
}